<!-- portfolio.ejs -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body id="body">

  <header id="header">
    <%- include('../layout/header') %>
  </header>

  <main id="main" class="portfolio">
    <h2 id="portfolio-title">Your Regret Portfolio</h2>

    <!-- Render DB on page -->
    <% console.log('regret', regret); %>
    <% if (regret.length > 0) { %>
      <ul id="saved-regrets-list">
        <% regret.forEach(regret => { %>
          <li data-id="<%= regret.id %>">
            <ul>
              <li class="regret-header">
                <ul>
                  <li><%= regret.symbol %></li>
                  <li><%= regret.search_date %></li>
                  <li>$<%= regret.profit %></li>
                </ul>
              </li>
              <li class="regret-details">
                <p>
                  If you invested <span><%= regret.investment %></span> in <span><%= regret.name %>(<%= regret.symbol %>)</span> on <span><%= regret.search_date %></span>, your
                  investment would be worth <span><%= regret.investment_worth %></span>.
                </p>

                <p>You would be <span>$900</span> richer!</p>

                <div id="chart-section" class="portfolio">
                  <h2 id="chart-title">The growth you <em>could</em> have seen in your <span><%= regret.name %>(<%= regret.symbol %>)</span>
                    investment:</h2>

                  <canvas id="chart"></canvas>
                </div>

                <a href="/delete/<%= regret.id %>"><button>delete from portfolio</button></a>
              </li>
            </ul>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
    <!-- If no rows in database -->
    <p>You have No regrets</p>
    <% } %>

  </main>

  <footer id="footer">
    <%- include('../layout/footer') %>
  </footer>

  <script src="portfolio.js"></script>


</body>

</html>