<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
</head>

<body>

  <header>
    <%- include('../layout/header') %>
  </header>

  <main>
    <p>If you invested <span>VARIABLE<%=  %> on <%=  %></span></p>
    <p>Your investment would be worth $<span>VARIABLE<%=  %></span></p>
    <p>You would be <span>$ VARIABLE<%= %></span> richer!</p>
    <h2>Your investment in <span>VARIABLE<%=  %></span> over time:</h2>
    <button type="submit">Save to my Regrets</button>
    <p>Rather forget this one?</p>
    <a href="/"><button>Search for a new regret!</button></a>
  </main>

  <footer>
    <%- include('../layout/footer') %>
  </footer>

</body>

</html>