<!-- result.ejs -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>

<body>

  <header>
    <%- include('../layout/header') %>
  </header>

  <main>
    <section>
      <p>If you invested <span>$<%= parseFloat(regret.investment).toFixed(2)  %></span> on <span><%= regret.past_date %></span></p>
      <p>Your investment would be worth <span>$<%= parseFloat(regret.investment_worth).toFixed(2) %></span></p>
      <% if (parseFloat(regret.profit) >= 0) { %>
      <p>You would be <span>$<%= parseFloat(regret.profit).toFixed(2) %></span> richer!</p>
      <% } else { %>
      <p>You would be <span>$<%= Math.abs(parseFloat(regret.profit)).toFixed(2) %></span> poorer! Good for you!</p>
      <% } %>
    </section>
    <div>
        <h2>Your investment in <span><%= regret.name %></span> over time:</h2>
      <canvas id="chart"></canvas>
    </div>

    <button type="submit">Save to my Regrets</button>
    <p>Rather forget this one?</p>
    <a href="/"><button>Search for a new regret!</button></a>

  </main>

  <footer>
    <%- include('../layout/footer') %>
  </footer>
  
  <script src="app.js"></script>

</body>

</html>