<!-- result.ejs -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>

<body>

  <header>
    <%- include('../layout/header') %>
  </header>

  <main>
   <% var currentInvestment = (regret.investment / regret.past_price) * regret.search_date_price; 
   var profit = currentInvestment - regret.investment;
   %>
    <section>
      <p>If you invested <span><%= regret.investment  %></span> on <span><%= regret.past_date %></span></p>
      <p>Your investment would be worth $<span><%= currentInvestment %></span></p>
      <p>You would be <span>$<%= profit %></span> richer!</p>
    </section>
    <div>
        <h2>Your investment in <span><%= regret.name %></span> over time:</h2>
      <canvas id="chart" ></canvas>
    </div>

    <button type="submit">Save to my Regrets</button>
    <p>Rather forget this one?</p>
    <a href="/"><button>Search for a new regret!</button></a>

  </main>

  <footer>
    <%- include('../layout/footer') %>
  </footer>
  
  <script src="app.js"></script>

</body>

</html>